* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  font-family: consolas;
}

body {
  background: #000;
  cursor: context-menu;
}

section {
  padding: 40px;
  color: #666;
}

section h2 {
  font-size: 3.5em;
}

section p {
  font-size: 1.2em;
}

#cursorMeter {
  position: fixed;
  top: 35%;
  left: 34%;
  width: 600px;
  height: 160px;
  pointer-events: none;
  z-index: 10000;
}

#scrollPath {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 20px;
  background: #333;
}

#pregressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: -webkit-gradient(linear, right top, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to left, #008aff, #00ffe7);
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

#pregressBar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to left, #008aff, #00ffe7);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

#pregressBar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to left, #008aff, #00ffe7);
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

@-webkit-keyframes animate {
  0%,
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes animate {
  0%,
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

#percent {
  position: absolute;
  top: 60px;
  left: 0;
  color: #fff;
  font-size: 1.7em;
  padding: 2px 5px;
  background: #fff;
  color: #333;
}

::-webkit-scrollbar {
  width: 0;
}

#scrollBarPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to top, #008aff, #00ffe7);
  -webkit-animation: animate2 5s linear infinite;
          animation: animate2 5s linear infinite;
}

@-webkit-keyframes animate2 {
  0%,
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes animate2 {
  0%,
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

#progressBar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to top, #008aff, #00ffe7);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

#progressBar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to top, #008aff, #00ffe7);
  -webkit-filter: blur(30px);
          filter: blur(30px);
}
/*# sourceMappingURL=main.css.map */